

/********   News Section   **********/


.news{
  height: 200px;
  border: 1px solid red;
  width: 80%;
  margin: 25px 0 25px 10%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg2.jpeg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.time_holder{
  margin-left: 20px;
  margin-top: 10px;
}

.time_icon{
  width: 15px;
  display: inline-block;
}
.time{
  color: white;
  display: block;
  font-size: 0.6em;
  margin-top: -19px !important;
  margin-left: 20px !important;
}

.title_container{
    max-height: 130px;
    overflow: hidden;
}

.news_title{
  font-size: 0.65em;
  color: white;
  line-height: 0px;
}

.news_title:hover{
  color: #09C;
}

.source{
  margin-top: 2%;
}
.source_img_container{
  display: inline-block;
}

.news_source_img{
  width: 30px;
  border-radius: 50%;
}

.info_source{
  color: white;
  font-size: 0.75em;
  display: inline-block;
}
.likes{
  float: right;
  color: #FFF;
  opacity: 0.3;
}

/***Nav bar***/

#nav_bar_app{
    width: 100%;
    height: auto;
}
#nav_logo{
  display: inline-block;
}

.icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
  background-color: #888;
}

#mainmenu{
  float: right;
}

#menu_desktop{
  display: none;
}
#test{
  width: 90%;
}

#test li{
  display: block;
  width: 100%;
}
#submenu{
  /*display: inline-block;*/
  /*display: block;*/
  margin-top: 30px;
  width: 100%;
  margin-right: -42px;
  position: relative;
  /*float: right;*/

}



/************ MEDIA QUERIES ******************/




/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}


/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) {

  .news{
      width: 35%;
      display: inline-block;
  }

  #menu_desktop{
    display: inline-block;
    float: right;
  }
  #mainmenu{
    display: none;
  }




}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 980px) {
  .news{
      width: 30%;
      margin-left: 2%;
      display: inline-block;
  }

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

  .news{
      max-width: 500px;
      display: inline-block;
  }
}
