body{
  font-size: 18px;
	margin: 0 !important;
	padding: 0 !important;
  font-family: 'Raleway', 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, p {
  margin: 0 !important;
  padding: 0 !important;
}


/*Landing Page content*/
#landing_content{
	width: 100vw;
  height: 95vh;
  background: url(../images/bg1.jpeg);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
